@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--color-primary: #2c2b29;
	--color-secondary: #fbf9f0;
	--color-accent-primary: #005bac;
	--color-accent-secondary: #ffc100;
}

@layer base {
	*,
	*::before,
	*::after {
		border-color: #2c2b29;
	}
}

body {
	/* background-color: #fbf9f0; */
	color: #2c2c2c;
	font-size: 14px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
